.dropdown:hover .dropdown-menu {
   display: block !important;
}
.fixed-top{
    padding-top:0;
    padding-bottom:0;
}
body{
    background: linear-gradient(rgba(222,222,222, 0.4), rgba(222,222,222, 0.4)), url(images/road.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.textured-card{
    width: 18rem;
    background-image: url(images/gray.jpg);
    background-size: cover;
}
.customer-container {
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin-bottom: 10px;
}
.customer-card {
    background: none;
    border:none;
    text-align: center;
}
.card-img-top {
    padding: 3px;
}

.bike-info {
    padding: 1.5rem;
    background: rgba(200,204,204,0.6);
    font-size:1.5rem;
}